* {
    margin: 0px;
    padding: 0px;
}

@keyframes linkhover {
    0% {

    }

    100% {
        background-color: #f32e18;
    }
}

@keyframes navahover {
    0% {

    }

    100% {
        background-color: #6f54b8;
        color: white;
    }
}

@keyframes arthover {
    0% {

    }

    100% {
        background-color: #6f54b8;
        color: white;
    }
}

@keyframes homehover {
    0% {

    }

    30% {
        color: #f32e18;
    }

    60% {
        color: #f3f383;
    }

    100% {
        color: white;
    }
}



/* Desktop */

@media only screen and (min-width: 801px) {

    nav {
        width: 100%;
        background-color: #2b6ec5;
        display: flex;
        position: fixed;
    }

    .navul {
        display: flex;
        flex-direction: row;
    }

    .navli {
        list-style-type: none;
    }

    .homelink {
        text-decoration: none;
    }

    .homelink:hover {
        animation: homehover 1s forwards;
    }

    .homelinkmobile {
        visibility: hidden;
    }

    .logomobile {
        visibility: hidden;
    }

    .nava {
        text-decoration: none;
        color: white;
        margin: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-right: 2vh;
        padding-left: 2vh;
        border-radius: 25px;
    }

    .navavideos {
        text-decoration: none;
        color: black;
        margin: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-right: 2vh;
        padding-left: 2vh;
        border-radius: 25px;
        background-color: #f3f383;
    }

    .navavideos:hover {
        animation: navahover 1s forwards;
    }

    .nava:hover {
        animation: linkhover 1s forwards;
    }

    .logo {
        padding-top: 1.5vh;
        color: white;
        padding-left: 5vh;
        padding-right: 5vh;
    }

    .logo:hover {
        animation: homehover .75s;
        animation-iteration-count: infinite;
    }

    main {
        padding-top: 12vh;
    }

    .maindiv {
        text-align: center;
    }

    .recentupload {
        margin-top: 20vh;
    }

    .realcontainer {
        text-align: center;
    }

    .artlink {
        text-decoration: none;
        color: black;
        margin: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-right: 2vh;
        padding-left: 2vh;
        border-radius: 25px;
        background-color: #f32e18;
    }

    .artlink:hover {
        animation: arthover .5s forwards;
    }

    .artdiv {
        display: flex;
        justify-content: center;
    }

    .artimg {
        width: 150px;
    }

    .wallimg {
        width: 400px;
    }

    .videolink {
        text-decoration: none;
        color: black;
        margin: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-right: 2vh;
        padding-left: 2vh;
        border-radius: 25px;
        background-color: #f53823;
    }

    .videolink:hover {
        animation: arthover .5s forwards;
    }

    .vids {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #container {
        text-align: center;
    }

    .iframe {
        margin: 1vh;
        width: 560px;
        height: 315px;
    }

}






/* Mobile */

@media only screen and (max-width: 800px) {

    nav {
        width: 100%;
        background-color: #2b6ec5;
        display: flex;
        /* position: fixed; */
    }

    /* .homelink {
        visibility: hidden;
    }

    .logo {
        visibility: hidden;
    } */

    .recentupload {
        margin-top: 20vh;
    }

    .maindiv {
        text-align: center;
    }

    /* .homelinkmobile {
        
    }

    .logomobile {
        padding-top: 1.5vh;
        color: white;
    } */

    .navul {
        display: flex;
        flex-direction: row;
    }

    .navli {
        list-style-type: none;
    }

    .nava {
        text-decoration: none;
        color: white;
        margin: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-right: 2vh;
        padding-left: 2vh;
        border-radius: 25px;
    }

    .navavideos {
        text-decoration: none;
        color: black;
        margin: 1vh;
        padding-top: 2vh;
        padding-bottom: 0vh;
        padding-right: 2vh;
        padding-left: 2vh;
        border-radius: 25px;
        background-color: #f3f383;
    }

    .navavideos:hover {
        animation: navahover 1s forwards;
    }

    .nava:hover {
        animation: linkhover 1s forwards;
    }

    .logo {
        padding-top: 1.5vh;
        color: white;
        padding-left: 5vh;
        padding-right: 5vh;
    }

    .homelink {
        text-decoration: none;
    }

    main {
        padding-top: 12vh;
    }

    .realcontainer {
        text-align: center;
    }

    .artlink {
        text-decoration: none;
        color: black;
        margin: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-right: 2vh;
        padding-left: 2vh;
        border-radius: 25px;
        background-color: #f32e18;
    }

    .artlink:hover {
        animation: arthover .5s forwards;
    }

    .artdiv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .artimg {
        width: 150px;
    }

    .wallimg {
        width: 150px;
    }

    .videolink {
        text-decoration: none;
        color: black;
        margin: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-right: 2vh;
        padding-left: 2vh;
        border-radius: 25px;
        background-color: #f32e18;
    }

    .videolink:hover {
        animation: arthover .5s forwards;
    }

    .vids {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #container {
        text-align: center;
    }

    .iframe {
        margin: 1vh;
        width: 300px;
    }

}